body { 
    margin: 0; 
    padding: 0; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
.questions{
    direction: rtl;
    padding: 5px;
    background-color: white;
}
.questions  input {
    margin-bottom: 3px;
    padding: 2px;
    width: 150px;
}
.continue {
    direction: rtl;
    background-color: white;
}
.continue h2 {
    text-align: center;
}
.continue h1 {
    text-align: center;
}
.continue input {
    width: 100px;
    padding: 5px;
    margin: 5px;
}